//- Template for a page with a sidebar
extends template

block content
    div(id='page-with-sidebar')
        div(id='page-sidebar')
            block sidebar-content
        div(id='page-content')
            block main-content