//- The site homepage
extends template

append title
    |  - Home
append scripts
    script(src='/index.js')

block content
    div(id='main-page-two-column')
        div(id='main-page-left-column')
            h2 My projects
            div(id='main-page-product-grid')
        div(id='main-page-right-column')
            a(href='https://twitter.com/William27528')
                img(src='/images/icons/williamhead.png' id='main-page-head-icon' alt='The William278 head icon')

            h2 William278.net
            p(id='main-page-tagline') Open source Minecraft server software & game projects.
            p This site contains easily-accessible documentation and information all about my various projects.
                span &#32;
                | Additionally, I provide human support for my Minecraft plugins through the HuskHelp discord.
            br
            div
                a(class='button-link' href='/docs') Docs
                span &nbsp;
                a(class='button-link' href='https://discord.gg/tVYhJfyDWG') Support

            hr

            h3
                i(class='fa-solid fa-comment-dollar')
                span &nbsp;
                | Commissions
            p I'm not currently open for commissions. Thank you for your understanding!

            h3
                i(class='fa-solid fa-wrench')
                span &nbsp;
                | Updates
            p I regularly update my plugins to support new versions, add new features and to fix bugs. When I do so, I will issue an announcement in the HuskHelp discord.
            p If you would like to receive notifications when I post an announcement and/or gain access to preview builds, you can use the buttons in the
                span &#32;
                code #role-picker
                span &#32;
                | channel to opt-in to notifications

            h3
                i(class='fa-solid fa-box')
                span &nbsp;
                | Other projects
            h4 Haroohie Translation Club
            p I'm a member of the Haroohie Translation club, a fan-translation group working on translating games from the Haruhi Suzumiya series!
                span &#32;
                a(href='https://haroohie.club/' target='_blank') More information&hellip;