/* Colors */
:root {
    --accent-color: #00fb9a;
    --product-blue: #142b42;
    --main-white: #f5f5f5;
    --main-gray: #373737;
    --main-light-gray: #969696;
    --main-background: #282828;
}

/* Main font and rules */
html, body {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    overflow-x: hidden;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    background: var(--main-background);
    color: var(--main-white);
}

main {
    margin: auto;
    flex: 2;
    display: flex;
    max-width: 1400px;
}

/* Horizontal rule */
hr {
    border: 0;
    border-top: 0.125em solid var(--main-light-gray);
    margin: 1.5em 0;
}

/* Tables */
table {
    width: 100%;
    border-collapse: collapse;
}

table td, table th {
    border: 0.05em solid var(--main-light-gray);
    padding: 0.5em 0.8em;
}

table tr:nth-child(even) {
    background: var(--main-gray);
}

table thead th {
    font-weight: bold;
    text-align: center;
}

/* Blockquotes */
blockquote {
    background-color: var(--main-gray);
    padding: 0.01em 1em;
    border-radius: 0.5em;
    margin-left: 0;
}

/* Two column lists */
.two-column-list {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}

@media screen and (max-width: 750px) {
    .two-column-list {
        columns: 1;
        -webkit-columns: 1;
        -moz-columns: 1;
    }
}

/* Links */
a {
    color: var(--accent-color);
    border-color: var(--accent-color);
    text-decoration: none;
}

a:hover {
    filter: brightness(75%);
    text-decoration: underline;
}

/* Buttons */
.button-link {
    border: 3px var(--accent-color) solid;
    border-radius: 10px;
    padding: 0.2em;
}

.button-link {
    text-decoration: none !important;
}

.project-button {
    text-decoration: none !important;
}

/* Image sizes */
img {
    max-width: 100%;
    height: auto;
}

code {
    overflow: scroll;
    max-width: inherit;
}

/* Navigation bar */
#navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--main-gray);
    color: var(--main-white);
}

#navbar-logo {
    flex: 1;
    padding: 0.5em 1em;
    margin: 0.1em 0;
}

#navbar a {
    text-decoration: none !important;
}

#navbar-links {
    flex: 2.5;
    display: flex;
    justify-content: flex-end;
    padding: 0.5em 1em;
    list-style: none;
    font-size: larger;
}

.navbar-link {
    padding: 0 0.5em 0 0.5em;
}

#navbar-space {
    flex: 6.5;
}

/* Footer */
#footer {
    text-align: center;
    color: var(--main-light-gray);
    margin: 0 1em;
}

.footer-link-divider {
    margin: 0 0.15em;
}

#site-version-indicator {
    font-size: smaller;
    position: absolute;
    color: var(--main-light-gray);
    padding: 0;
    right: 1em;
    margin: 0.5em;
}

#site-version-indicator a {
    color: var(--main-light-gray);
    margin-left: 0.4em;
}

/* Main page columns */
#main-page-two-column {
    display: flex;
    max-width: 1400px;
    justify-content: center;
}

#main-page-left-column {
    flex: 1;
    max-width: 45%;
    margin: 0 1em;
}

#main-page-right-column {
    flex: 1;
    max-width: 45%;
    margin: 0 1em;
}

/* Head icon */
#main-page-head-icon {
    display: inline-block;
    float: right;
    margin: 1.5em 0.5em;
    border-radius: 0.5em;
}

/* Tagline */
#main-page-tagline {
    font-size: large;
}

/* Project boxes grid */
#project-box-grid {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
}


.project-box {
    border: 0.15em solid var(--main-light-gray);
    border-radius: 0.5em;
    min-width: 50%;
    max-width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    margin: 0.5em 0.5em;
    padding: 0.5em 0.75em;
}

/* Project title, pills and image */
.project-header {
    display: flex;
    width: 100%;
    height: fit-content;
    justify-content: space-between;
}

.project-details {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: fit-content;
}

.project-title {
    display: flex;
    margin: 0;
}

.project-pills {
    margin: 0.2em 0 0 -0.2em;
    display: flex;
    justify-content: left;
}

.project-image {
    max-width: 64px;
    height: 100%;
    border-radius: 0.5em;
}

.project-pill {
    padding: 0.2em 0.45em;
    border-radius: 0.5em;
    background-color: var(--main-gray);
    font-size: 0.9em;
    margin: 0 0.15em;
}

/* Brief project description */
.project-tagline {
    width: 75%;
    flex: 3;
    margin: 0.8em 0;
}

/* Project buttons */
.project-buttons {
    width: 100%;
    text-align: center;
    margin-bottom: 0.3em;
    align-self: flex-end;
}

.project-buttons .project-button {
    font-size: 1.5em;
    margin: 0.1em 0.2em 0.1em 0.2em;
}

.project-buttons .button-link {
    font-size: 1em !important;
    position: relative;
    top: -0.2em;
}

.project-buttons .item-divider {
    color: var(--main-light-gray);
    margin: 0 0.25em;
    position: relative;
    top: -0.1em;
}

#project-box-grid-expand-button {
    display: flex;
    justify-content: center;
}

#expand-button-link {
    text-decoration: none;
    cursor: pointer;
}

#expand-button-icon {
    margin-top: 0.1em;
    margin-right: 0.3em;
}

/* Adjust the projects grid based on screen size */
@media screen and (max-width: 1200px) and (min-width: 901px) {
    .project-header {
        height: fit-content;
        justify-content: center;
        flex-direction: column-reverse;
        width: 100%;
    }

    .project-details {
        display: flex;
        align-items: center;
    }

    .project-image {
        align-self: center;
        margin-bottom: 0.3em;
    }
}

@media screen and (max-width: 650px) and (min-width: 450px) {
    .project-header {
        height: fit-content;
        justify-content: center;
        flex-direction: column-reverse;
        width: 100%;
    }

    .project-details {
        display: flex;
        align-items: center;
    }

    .project-image {
        align-self: center;
        margin-bottom: 0.3em;
    }
}

@media screen and (max-width: 300px) {
    .project-header {
        height: fit-content;
        justify-content: center;
        flex-direction: column-reverse;
        width: 100%;
    }

    .project-details {
        display: flex;
        align-items: center;
    }

    .project-image {
        align-self: center;
        margin-bottom: 0.3em;
    }
}

@media screen and (max-width: 900px) and (min-width: 500px) {
    #project-box-grid {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width: 450px) {
    #project-box-grid {
        grid-template-columns: repeat(1, 2fr);
    }
}

/* Mobile site layout */
@media screen and (max-width: 500px) {
    #navbar {
        -webkit-flex-flow: column wrap;
        flex-flow: column wrap;
    }

    #navbar-links {
        flex: 1;
        justify-content: center;
        padding: 0;
    }

    #navbar-logo {
        flex: 1;
        text-align: center;
        padding: 0.5em 0 0;
    }

    #site-version-indicator {
        display: none;
    }

    #main-page-two-column {
        -webkit-flex-flow: column-reverse wrap;
        flex-flow: column-reverse wrap;
    }

    #main-page-left-column {
        flex: 2;
        max-width: 100%;
    }

    #main-page-right-column {
        flex: 2;
        max-width: 100%;
    }
}


/* Docs page columns */
#page-with-sidebar {
    display: flex;
    max-width: 1400px;
}

/* Sidebar bar */
#page-with-sidebar #page-sidebar {
    flex: 1;
    padding: 1em;
    max-width: 250px;
    min-width: 250px;
    background-color: var(--main-gray);
    border-radius: 0.5em;
    height: fit-content !important;
    margin-top: 1em;
}

/* Docs project icons */
.docs-project-icon {
    display: inline;
    margin-right: 0.35em;
    width: 1.1em;
    height: 1.1em;
}

/* Docs page search box */
#docs-search {
    font-family: Nunito, sans-serif;
    font-size: 1em;
    border-radius: 0.5em;
    color: var(--main-white);
    background-color: transparent;
    border: 0.15em solid var(--main-light-gray);
    margin-left: 0.2em;
    padding: 0.3em;
    width: 80%;
}

#docs-search-icon {
    color: var(--main-light-gray);
    margin-right: 0.25em;
}

#docs-search-results {
    margin-top: 1em;
}

.docs-search-result {
    margin: 0.1em 0.5em;
}

#page-content {
    flex: 1;
    max-width: 1000px;
    min-width: 200px;
    margin-left: 2em;
    margin-right: 1em;
}

/* Docs page title */
#docs-page-title {
    margin-top: 0.3em;
}

/* Docs breadcrumbs */
#docs-breadcrumbs {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-radius: 0.5em;
    margin: 1em 0 0 0;
}

#docs-breadcrumbs .item-divider {
    color: var(--main-light-gray);
    margin: 0 0.4em;
}

@media screen and (max-width: 750px) {
    #page-with-sidebar {
        -webkit-flex-flow: column-reverse wrap;
        flex-flow: column-reverse wrap;
    }

    #page-with-sidebar #page-sidebar {
        max-width: 100%;
        min-width: 100%;
        margin: 0
    }

    #page-content {
        margin: 0 1em;
        max-width: 90vw;
    }
}

/* One-column page */
#one-column-page-text {
    flex: 1;
    max-width: 1000px;
    min-width: 200px;
    margin: 0 1em;
}

/* 404 and 500 error page text */
.error-page-text {
    text-align: center;
}