/* Colors */
:root {
    --accent-color: #00fb9a;
    --product-blue: #142b42;
    --main-white: #f5f5f5;
    --main-gray: #373737;
    --main-light-gray: #969696;
    --main-background: #282828;
}

/* Main font and rules */
html, body {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    overflow-x: hidden;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    background: var(--main-background);
    color: var(--main-white);
}

main {
    margin: auto;
    flex: 2;
    display: flex;
    max-width: 1400px;
}

code {
    font-family: 'JetBrains Mono', monospace;
    font-size: 0.825em;
    background-color: var(--main-background);
    border-radius: 0.35em;
    padding: 0.2em;
    overflow: scroll;
    max-width: inherit;
    word-wrap: anywhere;
}

/* Scroll bar */
/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: rgba(20, 20, 20, 0.8) rgba(20, 20, 20, 0.3);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 16px;
}

*::-webkit-scrollbar-track {
    background: rgba(20, 20, 20, 0.3);
}

*::-webkit-scrollbar-thumb {
    background-color: rgba(20, 20, 20, 0.8);
    border-radius: 16px;
}

/* Horizontal rule */
hr {
    border: 0;
    border-top: 0.125em solid var(--main-light-gray);
    margin: 1.5em 0;
}

/* Tables */
table {
    width: 100%;
    border-collapse: collapse;
}

table td, table th {
    border: 0.05em solid var(--main-light-gray);
    padding: 0.5em 0.8em;
}

table tr:nth-child(even) {
    background: var(--main-gray);
}

table thead th {
    font-weight: bold;
    text-align: center;
}

/* Clickable objects */
object {
    pointer-events: none;
}

/* Blockquotes */
blockquote {
    background-color: var(--main-gray);
    padding: 0.01em 1em;
    border-radius: 0.5em;
    margin-left: 0;
}

/* Two column lists */
.two-column-list {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}

@media screen and (max-width: 750px) {
    .two-column-list {
        columns: 1;
        -webkit-columns: 1;
        -moz-columns: 1;
    }
}

/* Links */
a {
    color: var(--accent-color);
    border-color: var(--accent-color);
    text-decoration: none;
}

a:hover {
    filter: brightness(75%);
    text-decoration: underline;
}

/* Used to control visibility of elements */
.inactive {
    display: none !important;
}

/* Buttons */
.button-link {
    border: 3px var(--accent-color) solid;
    border-radius: 10px;
    padding: 0.2em;
}

.button-link {
    text-decoration: none !important;
}

/* Image sizes */
img {
    max-width: 100%;
    height: auto;
}

/* Navigation bar */
#navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--main-gray);
    color: var(--main-white);
}

#navbar-logo {
    flex: 1;
    padding: 0.5em 1em;
    margin: 0.1em 0;
}

#navbar a {
    text-decoration: none !important;
}

#navbar-links {
    flex: 2.5;
    display: flex;
    justify-content: flex-end;
    padding: 0.5em 1em;
    list-style: none;
    font-size: larger;
}

.navbar-link {
    padding: 0 0.5em 0 0.5em;
}

#navbar-space {
    flex: 6.5;
}

/* Footer */
#footer {
    text-align: center;
    color: var(--main-light-gray);
    margin: 0 1em;
}

.footer-link-divider {
    margin: 0 0.15em;
}

#site-version-indicator {
    font-size: smaller;
    position: absolute;
    color: var(--main-light-gray);
    padding: 0;
    right: 1em;
    margin: 0.5em;
}

#site-version-indicator a {
    color: var(--main-light-gray);
    margin-left: 0.4em;
}

/* Columned page */
#two-column-page {
    display: flex;
    max-width: 1400px;
    justify-content: center;
}

#main-page-left-column {
    flex: 1;
    max-width: 45%;
    margin: 0 1em;
}

#main-page-right-column {
    flex: 1;
    max-width: 45%;
    margin: 0 1em;
}

#project-page-left-column {
    flex: 1;
    max-width: 65%;
    margin: 0 1em;
}

#project-page-left-column img {
    max-height: 14em;
    width: auto;
    border-radius: 0.35em;
}

#project-page-right-column {
    flex: 1;
    max-width: 25%;
    margin: 0 1em;
}

#project-infobox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0.4em var(--main-light-gray);
    margin-top: 1em;
}

#project-infobox .infobox-buttons {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0.5em 0.5em;
    text-align: center;
    margin: 0.2em 0 0.5em 0;
}

#project-infobox .infobox-stats {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0.5em 0.5em;
    text-align: center;
    margin-top: 1em;
}

#project-infobox .infobox-stat-tile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--main-gray);
    border-radius: 0.5em;
    padding: 0.5em;
    min-height: 3em;
}

.infobox-stat-tile .infobox-stat-name {
    font-weight: bold;
}

.infobox-stat-name i {
    margin-right: 0.3em;
}

#project-infobox .infobox-rating-stars {
    font-size: 1.1em;
    width: fit-content !important;
    align-self: center;
    white-space: nowrap;
}

@media screen and (max-width: 850px) {
    .infobox-buttons {
        grid-template-columns: repeat(1, 1fr) !important;
    }

    .infobox-stats {
        grid-template-columns: repeat(1, 1fr) !important;
    }
}

@media screen and (max-width: 500px) {
    .reversed-sidebar {
        flex-direction: column !important;
    }

    #project-page-right-column {
        max-width: 100% !important;
        border-bottom: 0.2em solid var(--main-light-gray);
        margin-bottom: 1em;
    }

    #project-page-left-column {
        max-width: 100% !important;
    }

    #project-infobox {
        width: 100% !important;
        margin-bottom: 1em;
    }
}

.infobox-buttons > *{
    height: 1.5em;
}

.infobox-buttons .button-link {
    width: 94%;
    padding: 0.4em 0.2em;
    display: flex;
    justify-content: center;
}

.button-link i {
    margin-right: 0.3em;
    margin-top: 0.2em;
}

#project-infobox .infobox-header {
    background-color: var(--main-background);
}

#project-infobox .infobox-image {
    width: auto;
    object-fit: cover;
    max-width: 100%;
    min-height: 17.5em;
    max-height: 50em;
    z-index: 2;
    border-radius: 0.5em;
}

#project-infobox .infobox-video {
    width: 138.7%;
    min-height: 17.5em;
    max-height: 50em;
    height: auto;
    margin-left: -3em;
    z-index: 2;
    border-radius: 0.5em;
}

#project-infobox #infobox-gallery-controls {
    height: 0.3em;
    width: 95%;
    font-size: 1.5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transform: translate(0, -6em);
    z-index: 3;
}

#infobox-gallery-controls a {
    text-decoration: none;
    font-size: 1.5em;
    color: var(--main-white);
    border-radius: 0.2em;
    background-color: rgba(0, 0, 0, 0.65);
    padding: 0.3em 0.2em;
}

#infobox-gallery-controls a:hover {
    filter: brightness(75%);
    cursor: pointer;
}

/* Head icon */
#main-page-head-icon {
    display: inline-block;
    float: right;
    margin: 1.5em 0.5em;
    border-radius: 0.5em;
}

#two-column-page h1 {
    margin-bottom: 0.35em;
}

/* Tagline */
#main-page-tagline {
    font-size: large;
}

/* Project information display */
#project-box-grid {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
}

.project-box {
    border: 0.15em solid var(--main-light-gray);
    border-radius: 0.5em;
    min-width: 50%;
    max-width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    margin: 0.5em 0.5em;
    padding: 0.5em 0.75em;
}

/* Project title, pills and image */
.project-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.project-details {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: fit-content;
}

.project-title {
    display: flex;
    margin: 0;
}

.project-pills {
    margin: 0.2em 0 0 -0.2em;
    display: flex;
    justify-content: left;
}

.project-image {
    max-width: 64px;
    max-height: 64px;
    min-width: 64px;
    min-height: 64px;
    height: 100%;
    border-radius: 0.5em;
}

.pill-item {
    padding: 0.2em 0.45em;
    border-radius: 0.5em;
    background-color: var(--main-gray);
    font-size: 0.9em;
    white-space: nowrap;
    margin: 0 0.15em;
}

.project-body {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    min-height: fit-content;
}

.project-stats {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}

.project-stat {
    margin: 0.15em 0;
    width: fit-content;
    font-size: 0.9em;
    color: var(--main-light-gray);
    white-space: nowrap;
}

.project-stat i {
    margin-right: 0.15em;
}

.project-description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Brief project description */
.project-tagline {
    margin-right: 0.35em;
}

/* Project buttons */
.project-buttons {
    display: flex;
    justify-content: flex-start;
    justify-self: flex-end;
    margin-bottom: 0.3em;
}

.project-button {
    font-size: 1.5em;
    text-decoration: none !important;
    margin: 0 0.15em;
}

.project-buttons .button-link {
    font-size: 1em !important;
    padding: 0.07em 0.2em !important;
    position: relative;
    top: -0.15em;
}

#project-box-grid-expand-button {
    display: flex;
    justify-content: center;
}

#expand-button-link {
    text-decoration: none;
    cursor: pointer;
}

#expand-button-icon {
    margin-top: 0.1em;
    margin-right: 0.3em;
}

/* Adjust the projects grid based on screen size */
@media screen and (max-width: 1200px) and (min-width: 901px) {
    #project-box-grid .project-header {
        height: fit-content;
        justify-content: center;
        flex-direction: column-reverse;
        width: 100%;
    }

    #project-box-grid .project-details {
        display: flex;
        align-items: center;
    }

    #project-box-grid .project-image {
        align-self: center;
        margin-bottom: 0.3em;
    }

    #project-box-grid .project-body {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    #project-box-grid .project-buttons {
        justify-content: center;
    }

    #project-box-grid .project-stats {
        display: block;
        align-self: center;
        text-align: center;
        margin-top: 0.3em;
    }

    #project-box-grid .project-stat {
        margin: 0.15em 0.3em;
    }
}

@media screen and (max-width: 650px) and (min-width: 450px) {
    .project-header {
        height: fit-content;
        justify-content: center;
        flex-direction: column-reverse;
        width: 100%;
    }

    .project-details {
        display: flex;
        align-items: center;
    }

    .project-image {
        align-self: center;
        margin-bottom: 0.3em;
    }

    .project-body {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    .project-buttons {
        justify-content: center;
    }

    .project-stats {
        display: block;
        align-self: center;
        text-align: center;
        margin-top: 0.3em;
    }

    .project-stat {
        margin: 0.15em 0.3em;
    }
}

@media screen and (max-width: 300px) {
    .project-header {
        height: fit-content;
        justify-content: center;
        flex-direction: column-reverse;
        width: 100%;
    }

    .project-details {
        display: flex;
        align-items: center;
    }

    .project-image {
        align-self: center;
        margin-bottom: 0.3em;
    }

    .project-body {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    .project-buttons {
        justify-content: center;
    }

    .project-stats {
        display: block;
        align-self: center;
        text-align: center;
        margin-top: 0.3em;
    }

    .project-stat {
        margin: 0.15em 0.3em;
    }
}

@media screen and (max-width: 900px) and (min-width: 500px) {
    #project-box-grid {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width: 450px) {
    #project-box-grid {
        grid-template-columns: repeat(1, 2fr);
    }
}

/* Mobile site layout */
@media screen and (max-width: 500px) {
    #navbar {
        -webkit-flex-flow: column wrap;
        flex-flow: column wrap;
    }

    #navbar-links {
        flex: 1;
        justify-content: center;
        padding: 0;
    }

    #navbar-logo {
        flex: 1;
        text-align: center;
        padding: 0.5em 0 0;
    }

    #site-version-indicator {
        display: none;
    }

    #two-column-page {
        -webkit-flex-flow: column-reverse wrap;
        flex-flow: column-reverse wrap;
    }

    #main-page-left-column {
        flex: 2;
        max-width: 100%;
    }

    #main-page-right-column {
        flex: 2;
        max-width: 100%;
    }
}


/* Pages with a sidebar */
#page-with-sidebar {
    display: flex;
    max-width: 1400px;
}

.reversed-sidebar {
    flex-direction: row-reverse;
}

/* Sidebar bar */
#page-with-sidebar #page-sidebar {
    flex: 1;
    padding: 1em;
    max-width: 250px;
    min-width: 250px;
    background-color: var(--main-gray);
    border-radius: 0.5em;
    height: fit-content !important;
    margin-top: 1em;
}

/* Docs project icons */
.docs-project-icon {
    display: inline;
    margin-right: 0.35em;
    width: 1.1em;
    height: 1.1em;
}

/* Docs page search box */
#docs-search {
    font-family: Nunito, sans-serif;
    font-size: 1em;
    border-radius: 0.5em;
    color: var(--main-white);
    background-color: transparent;
    border: 0.15em solid var(--main-light-gray);
    margin-left: 0.2em;
    padding: 0.3em;
    width: 80%;
}

#docs-search-icon {
    color: var(--main-light-gray);
    margin-right: 0.25em;
}

#docs-search-results {
    margin-top: 1em;
}

.docs-search-result {
    margin: 0.1em 0.5em;
}

#page-content {
    flex: 1;
    max-width: 1000px;
    min-width: 200px;
    margin-left: 2em;
    margin-right: 1em;
}

/* Docs page title */
#page-title {
    margin-top: 0.3em;
}

/* Docs breadcrumbs */
#page-breadcrumbs {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-radius: 0.5em;
    margin: 1em 0 0 0;
}

#page-breadcrumbs .item-divider {
    color: var(--main-light-gray);
    margin: 0 0.4em;
}

@media screen and (max-width: 750px) {
    #page-with-sidebar {
        -webkit-flex-flow: column-reverse wrap;
        flex-flow: column-reverse wrap;
    }

    #page-with-sidebar #page-sidebar {
        max-width: 100%;
        min-width: 100%;
        margin: 0
    }

    #page-content {
        margin: 0 1em;
        max-width: 90vw;
    }
}

/* One-column page */
#one-column-page-text {
    flex: 1;
    max-width: 1000px;
    min-width: 200px;
    margin: 0 1em;
}

/* 404 and 500 error page text */
.error-page-text {
    text-align: center;
}