//- The docs index page
extends sidebar-page

append scripts
    script(src='/docs.js')

block sidebar-content
    label(for='docs-search')
        i(class='fa-solid fa-magnifying-glass' id='docs-search-icon')
    input(type='text', id='docs-search', placeholder='Search')
    div(id='docs-search-results')
    div(id='sidebar-content')
        h2 Projects
        ul(class='docs-page-product-list')

block main-content
    div(id='docs-breadcrumbs')
        a(href='/docs/') Docs
        span(class='item-divider') /
    div(id='docs-page-content')
        h1(id='docs-page-title') Docs
        p You can find documentation for my various projects and products here. Please click through to each product wiki to find the information you need.
        div
            ul(class='docs-page-product-list two-column-list')

        h2 Contributing
        p Docs are hosted via GitHub Wikis and are automatically pulled when changes are made. If you spot a mistake or would like to contribute to our wikis, please get in touch with us on Discord.