//- Template for an error page
extends template

block content
    div(id='one-column-page-text' class='error-page-text')
        h1 Error #{code}
        p
            | #{details}
            br
            a(href='/') Back to Home&hellip;